// RESPONSIVE BREAKPOINT
break = {
  xs: 480
  sm: 768
  md: 1024
  lg: 1220
  xl: 1600
}

// PADDINGS
paddings = {
  triple: 60
  double: 40
  base: 20
  half: 10
  quarter: 5
  small: 3
  thin: 1

}

gutters = paddings

// FONTS
font_interface = 'Open Sans', sans-serif
fonts = {
  small: 10px
  base: 12px
  large: 14px
}

// GRID SETUP

grid_widths = (6 9 12)
default_grid_width = 12

default_break_size = 'sm'

row_name = 'row'
gutter_name = 'gutter'
offset_name = 'off'
column_name = 'col'
column_selector = "[class*='%s-']" % s(column_name)
