doctype html
html(lang='en')
  head
    block head
      title
        block title
          = locals.name

      include head.jade

  body(class=bodyclass)
    block content

      .strip: .wrapper: #fold: include fold.jade
      .strip: .wrapper: #video: include video.jade
      .strip: .wrapper: #testimonials: include testimonials.jade
      .strip: .wrapper: #details: include details.jade
      .strip: .wrapper: #team: include team.jade
      .strip: .wrapper: #footer: include footer.jade

    include scripts.jade
