doctype html
html(lang='en')
  head
    block head
      title
        block title
          = locals.name

      include head.jade

  body(class=bodyclass)
    block content
      p.
        Si vous voyez ceci c'est que tout fonctionne :)


    include scripts.jade
